<% content_for :title do %><%= @user.username %> (<%= @user.nickname || @user.username.capitalize %>)<% end %>

<div class="container-xl px-3 px-md-4 px-lg-5 pt-3 pt-md-4 pt-lg-5">
  <div class="gutter-condensed gutter-lg flex-column flex-md-row d-flex">
    <div class="clearfix d-flex d-md-block flex-items-center mb-4 mb-md-0">
      <%= render partial: 'shared/profile_sidebar' %>
    </div>
  </div>
</div>
