<% content_for :title do %>Four-oh-four (404) - Page not found<% end %>

<div class="blankslate">
  <img src="https://ghicons.github.com/assets/images/blue/png/Security%20advisory.png" alt="" class="mb-3" />
  <h3 class="mb-1">Four-oh-four (404)</h3>
  <p>That page was not found.</p>
  <p><a class="btn-link" href="javascript:history.back()">Go back</button></p>
</div>
