<div class="footer container-xl width-full p-responsive" role="contentinfo">
  <div class="position-relative d-flex flex-row-reverse flex-lg-row flex-wrap flex-lg-nowrap flex-justify-center flex-lg-justify-between pt-6 pb-2 mt-6 f6 color-text-secondary border-top color-border-secondary">
    <ul class="list-style-none d-flex flex-wrap col-12 col-lg-5 flex-justify-center flex-lg-justify-between mb-2 mb-lg-0">
      <li class="mr-3 mr-lg-0">&copy; 2021 glimmerhq</li>
      <li class="mr-3 mr-lg-0"><a href="https://docs.github.com/en/github/site-policy/github-terms-of-service">Terms</a></li>
      <li class="mr-3 mr-lg-0"><a href="https://docs.github.com/en/github/site-policy/github-privacy-statement">Privacy</a></li>
      <li><a href="https://github.com/glimmerhq/grape">GitHub</a></li>
    </ul>

    <a class="d-none d-lg-block mx-lg-4" href="<%= root_path %>">
      <%= octicon "beaker", height: 24 %>
    </a>
    
    <ul class="list-style-none d-flex flex-wrap col-12 col-lg-5 flex-justify-center flex-lg-justify-between mb-2 mb-lg-0">
      <li class="mr-3 mr-lg-0"><a href="https://support.github.com">Contact Us</a></li>
      <li class="mr-3 mr-lg-0"><%= link_to "API", developers_url %></li>
      <li class="mr-3 mr-lg-0"><a href="https://twitter.com/lunaisnotaboy">Twitter</a></li>
      <li><a href="https://github.com/about">About</a></li>
    </ul>
  </div>
</div>
